body {
    color: white;   
    background-color: #21003B;
    font-family: 'Lexend', sans-serif;
    font-size: large;
}

input {
    width: 20%;
    padding: 12px 15px;
    margin: 8px 0;
    background-color: #55257A;
    transition: width 0.4s ease-in-out;
    font-family: 'Lexend', sans-serif;    
    border-radius: 8px;
    border-style: none;
    font-size: medium;
    
}

input:focus {
    width: 21%;
}

button {
    font-family: 'Lexend', sans-serif;
    background-color: #943B82;
    border-radius: 30px;
    border-style: none;
    padding: 10px 15px;
    margin: 25px 0px;
    font-size: medium;
    color: black;
}

p {
    font-family: 'Cutive Mono', monospace;
}

h1 {
    text-align: center;
    font-family: 'Major Mono Display', monospace;
}